import React, { useEffect, useState } from 'react'
import { Button } from 'react-scroll'
const axios = require('axios')

const Index = () => {
    const [first, setfirst] = useState([''])
    useEffect(() => {
        let config = {
            method: 'get',
            maxBodyLength: Infinity,
            url: 'https://www.omdbapi.com/?t=jawan&apikey=4374994a',
            headers: {},
        }

        axios
            .request(config)
            .then((response) => {
                setfirst(response.data)
                console.log(response.data)
            })
            .catch((error) => {
                console.log(error)
            })
    }, [])
    return (
        <div>
            <div
                style={{
                    backgroundImage: `url(${first.Poster})`,
                    height: '80vh',
                    backgroundSize: 'cover',
                    backgroundRepeat: 'no-repeat',
                }}
            >
                <div
                    style={{
                        height: '80vh',
                        backgroundColor: 'black',
                        opacity: '0.5',
                    }}
                ></div>
                <div
                    style={{
                        color: 'white',
                        position: 'absolute',
                        top: '15%',
                        left: '10%',
                    }}
                >
                    <div className="grid grid-cols-3 gap-4">
                        <div
                            style={{
                                width: '300px',
                            }}
                        >
                            <img src={first.Poster} height={300} width={300} />
                        </div>
                        <div
                            style={{
                                width: '500px',
                                marginLeft: 30,
                                marginTop: 20,
                            }}
                            class="col-span-2"
                        >
                            <p style={{ fontWeight: 900, fontSize: 40 }}>
                                {first.Title}
                            </p>

                            <p>
                                <button
                                    style={{
                                        border: '1px solid white',
                                        padding: 5,
                                        borderRadius: 50,
                                    }}
                                >
                                    {first.Genre}
                                </button>
                            </p>
                            <div className="flex">
                                <p style={{ fontSize: 18 }}>Director: </p>
                                <p
                                    style={{
                                        fontSize: 14,
                                        marginTop: 4,
                                        marginLeft: 2,
                                    }}
                                >
                                    {first.Director}
                                </p>
                            </div>

                            <p>
                                Actors:
                                {first.Actors}
                            </p>
                            <p style={{ width: '500px' }}>{first.Plot}</p>
                            <p>
                                {first.Runtime}&#8226; Release date:
                                {first.Year}
                            </p>

                            <p>{first.Language}</p>

                            <p>
                                {' '}
                                <span
                                    style={{
                                        fontSize: '20px',
                                        color: 'yellow',
                                    }}
                                >
                                    ★
                                </span>
                                {first.imdbRating}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    )
}

export default Index
