.custom-button_img {
    margin-top: 12%;
    /* width: 50%; */
}

.table {
    display: block;
  }
  
  .tbody {
    max-height: 300px; /* Set your desired height for the tbody */
    overflow-y: scroll;
  }
  
  /* Optional: Add styles for the header if needed */
  .thead {
    background-color: #fff; /* Change to your desired background color */
    position: sticky;
    top: 0;
    z-index: 1;
  }


  /* Update your CSS to handle long text */
.overflow-ellipsis {
    max-width: 200px; /* Set the maximum width to prevent text overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ellipsis for truncated text */
    border-bottom: 1px solid rgb(226, 226, 226);
  }
  
  
  
